-e git+git@github.com:Aminul-Momin/Algorithms_and_Data_Structures.git@2861997eb0c80baf5ed84c49a8bdfacd7b9c7f8f#egg=ads
appdirs==1.4.4
attrs==20.3.0
black==20.8b1
click==7.1.2
exceptiongroup==1.1.1
flake8==3.9.2
importlib-metadata==3.10.1
iniconfig==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.3
regex==2021.4.4
toml==0.10.2
tomli==2.0.1
typed-ast==1.4.3
typing-extensions==3.7.4.3
yapf==0.31.0
zipp==3.4.1
